Package: me.jkhsjdhjs.hide-dot-labels
Name: Hide Dot Labels
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide blue 'recently updated' and orange 'beta' dots next to app labels.
Maintainer: jkhsjdhjs
Author: jkhsjdhjs
Homepage: https://github.com/jkhsjdhjs/hide-dot-labels
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
